

.field {
    margin-top: 300px;
    margin-bottom: auto;
background: #20B2AA;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 10px;
width: 130px;
height: 100px;
border-radius: 80%;
margin-right: 10px;
box-shadow: honeydew;
}

#timer-1{
display: flex;
justify-content: center;
align-items: center;
color: #FFFFFF;
font-size: 30px;
}

.value{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:#FFFFFF;
}

.label{
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
    color: #AFEEEE;
}
